---
http_interactions:
- request:
    method: get
    uri: https://api.soccerama.pro/v1.1/seasons?api_token=79tYQvxtoJU4u0wA2G9c7x0xCES6wj3WlYLDZP1XJKL9Zf6SBLiIFhkq2eOv&include
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":350,"competition_id":43,"name":"2015\/2016","active":true},{"id":662,"competition_id":43,"name":"2016\/2017","active":true},{"id":355,"competition_id":66,"name":"2015\/2016","active":true},{"id":741,"competition_id":66,"name":"2016\/2017","active":true}],"meta":{"pagination":{"total":4,"count":4,"per_page":50,"current_page":1,"total_pages":1,"links":[]}}}'
  recorded_at: Sat, 16 Jul 2016 14:39:33 GMT
recorded_with: VCR 3.0.1
