---
http_interactions:
- request:
    method: get
    uri: https://api.soccerama.pro/v1.1/competitions?api_token=79tYQvxtoJU4u0wA2G9c7x0xCES6wj3WlYLDZP1XJKL9Zf6SBLiIFhkq2eOv&include
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":43,"name":"Superliga","active":true},{"id":66,"name":"Premiership","active":true}]}'
  recorded_at: Sat, 05 Nov 2016 21:01:20 GMT
recorded_with: VCR 3.0.1
