---
http_interactions:
- request:
    method: get
    uri: https://api.soccerama.pro/v1.1/teams/516?api_token=79tYQvxtoJU4u0wA2G9c7x0xCES6wj3WlYLDZP1XJKL9Zf6SBLiIFhkq2eOv&include
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
    body:
      encoding: UTF-8
      string: '{"id":516,"name":"Nordsj\u00e6lland","logo":"https:\/\/soccerama.pro\/images\/teams\/DEN\/516.png","twitter":null,"venue_id":729}'
  recorded_at: Sat, 16 Jul 2016 14:53:07 GMT
recorded_with: VCR 3.0.1
