---
http_interactions:
- request:
    method: get
    uri: https://api.soccerama.pro/v1.1/teams/518/season/350?api_token=79tYQvxtoJU4u0wA2G9c7x0xCES6wj3WlYLDZP1XJKL9Zf6SBLiIFhkq2eOv&include
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
    body:
      encoding: UTF-8
      string: '{"id":518,"name":"Esbjerg","logo":"https:\/\/soccerama.pro\/images\/teams\/DEN\/518.png","twitter":null,"venue_id":427,"matches":{"data":[{"id":56647,"ht_score":null,"ft_score":"4-2","home_team_id":518,"away_team_id":520,"home_score":4,"away_score":2,"home_score_penalties":0,"away_score_penalties":0,"formation":{"home":null,"away":null},"date_time_tba":0,"spectators":null,"starting_date":"2015-09-14","starting_time":"17:00:00","status":"FT","minute":90,"extra_minute":0,"competition_id":43,"venue_id":285,"season_id":350,"round_id":5550,"stage_id":821,"aggregate":null,"placeholder":false},{"id":219621,"ht_score":null,"ft_score":"1-2","home_team_id":518,"away_team_id":173,"home_score":1,"away_score":2,"home_score_penalties":0,"away_score_penalties":0,"formation":{"home":null,"away":null},"date_time_tba":0,"spectators":null,"starting_date":"2015-10-19","starting_time":"17:00:00","status":"FT","minute":90,"extra_minute":0,"competition_id":43,"venue_id":285,"season_id":350,"round_id":5554,"stage_id":821,"aggregate":null,"placeholder":false},{"id":303775,"ht_score":null,"ft_sco[...]
